.podcastViewContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.podcastDetailContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: 30%;
}

.podcastDetailContainer .podcastDetailCard {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 13px -7px rgba(10, 9, 10, 0.71);
    -moz-box-shadow: 4px 4px 13px -7px rgba(10, 9, 10, 0.71);
    box-shadow: 4px 4px 13px -7px rgba(10, 9, 10, 0.71);
}

.episodeListContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}