.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 60px;
  padding: 0 10px;
}

.header > h1 {
  cursor: pointer;
  color: #509df4;
  margin: 0;
}
